.slider-box{
	position:relative;
	width:350px;
	height:350px;
	overflow:hidden;
}
.slider{
	position:relative;
	width:10000px;
	height:350px;
}
.slider img{
	float:left;
}
.slider-box .prev, .slider-box .next{
	position:absolute;
	top:170px;
	display:block;
	width:29px;
	height:29px;
	cursor:pointer;
}
.slider-box .prev{
	left:10px;
	background:url(../images/slider_controls.png) no-repeat 0 0;
}
.slider-box .next{
	right:10px;
	background:url(../images/slider_controls.png) no-repeat -29px 0;
}
.bullets{
	position:absolute;
	bottom:10px;
	left:100px;
	height:11px;
	padding:0;
	margin:0;
	list-style:none;
}
.bullets li{
	width:11px;
	height:11px;
	margin:0 3px 0 0;
	padding:0;
	float:left;
	background:url(../images/slider_controls.png) no-repeat 0 -30px;
}
.bullets li.active{
	background-position:0 -42px;
}